@media screen and (max-width:480px){
    .neonube{
        max-width: 100%;
        object-fit: contain;
        height:auto;
        margin: auto;
        display: none;
        
    }}
@media screen and (min-width:480px) and (max-width:780px){
   
    .neonube{
        max-width: 100%;
        object-fit: contain;
        height:auto;
        margin: auto;
        display: none;}}