h3 a{
    text-decoration: none;
    color:#2e367e; 
  }
  .wrapper{
    width: 1170px;
   margin-top: -5%;
   margin-right: 1px;
   margin-left: 90px;
   margin-bottom: 10%;
   height: 80vh;
  }
  .wrapper h2{
    font-family: archivo;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 0;
  }
  .ayuda {
  position: relative;
  width: 31%;
  height: 320px;
  background: #04afe9 ;
  box-sizing: border-box;
  padding: 20px 15px;
  transition: .5s;
  overflow: hidden;
  float: left;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  }
  .line {
  width: 150px;
  height: 3px;
  background: #fff;
  margin: 0 auto 60px auto;
  }
  .ayuda p{            
    color: white;
    font-size: 15px;
    font-weight:normal;
  }
  .ayuda h3 {
    font-size: 25px;;
    font-family: archivo;
    letter-spacing: 1px;
    color: #262626;
  }
  .social {
  width: 60px;
  height: 60px;
  background: #262626;
  border-radius: 50%;
  margin: 5% auto;
  }
  .social i {
  font-size: 30px;
  padding: 15px;
    color: #fff;
  }
  .ayuda:hover{
    box-shadow: 0 30px 35px rgba(0,0,0,0.7);
  }
  .ayuda::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .ayuda:hover::before{
    width: 95%;
    height: 95%;
    transition: all ease .50s;
  }
  .ayuda span {
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  }
  .ayuda:hover span{
    left: 110%;
  }
  
  @media screen and (max-width: 1190px){
      .max-width{
          padding: 0 25px;
      }
      .box{
          width: calc(50% - 10px);
          margin-bottom: 20px;
      }
      
  }